body{background-color:#cbf3f0}
ul{text-align: center;font-size:18px;color:#ffffff}
h1{font-family:fantasy;text-align: center;color:#ff9f1c;}
h2{font-family: fantasy;text-align: center;color:#2ec4b6;}
p{font-size:18px;text-align:center;margin:2em;color:#1b3a4b;}